@import url('https://fonts.googleapis.com/css?family=Pacifico');
    
    h1 {
      font-family: 'Pacifico';
      text-align: center;
    }
    
    h3 , footer{
      font-family: 'Pacifico';
    }
    
    footer {
      background-color: black;
      color: white;
      
      left: 0;
      bottom: 0;
      position: fixed;
    }
    .jumbotron {
      width: 100%;
      
      
      top: 0;
      left: 0;
      position: absolute;
    }
